a {
  text-decoration: none !important;
  color: white !important;
  transition: 0.3s all ease-in-out;
}
a:hover {
  color: rgb(148, 146, 146) !important;
}

.table_header {
  background-color: rgb(255, 127, 127) !important;
  cursor: alias;
  text-align: center;
}
.table_key {
  background-color: aqua !important;
}
.pagination {
  --bs-pagination-bg: #85b6ff !important;
  color: #888 !important; /* Set the desired color for inactive items */
  cursor: not-allowed !important;
}
.icon {
  cursor: pointer;
}
.custom-tooltip .tooltip-inner {
  background-color: darkblue;
  color: white;
}

.custom-tooltip .arrow::before {
  border-top-color: darkblue; /* or appropriate border color based on placement */
}
